
.Songbook-Song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
    padding: var(--space-xs) 0;
    border-bottom: 1px solid var(--color-test-4);
}

.Songbook-Song:last-child {
    border-bottom: none;
}

.Songbook-Song:hover {
    /* background-color: red; */
    /* border-radius: var(--round-s); */
}
