
.Songbook-Song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
    padding: var(--space-xs) 0;
    /* border-bottom: 1px solid var(--color-test-4); */
    border-bottom: 1px solid var(--test-2);
}

.Songbook-Song:last-child {
    border-bottom: none;
}

.Songbook-SongInfo {
    display: flex;
    flex-direction: column;
    color: var(--font);
}
