.Application {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Application-Footer {
    /* background: var(--color-level-1); */
    /* background: var(--color-test-2); */
    background: var(--test-1);
    background-color: var(--test-1);
    height: 80px;
}
