
.Application {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.Application-Header {
    background: var(--color-level-1);
    height: 48px;
}

.Application-Content {
    flex: auto;
    background: var(--color-level-2);
}

.Application-Footer {
    background: var(--color-level-1);
    height: 32px;
}
