.Plug {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    color: var(--color-test-5);
    padding: var(--space-xl);
    box-sizing: border-box;
    text-align: center;
}

.Plug-Title {
    color: black;
    margin-top: var(--space-m);
}

.Plug-Subtitle {
    color: var(--color-test-6);
    margin-top: var(--space-xs);
}
