.Metronome {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    color: var(--font);
}

.Metronome-Info {
    display: flex;
    align-items: center;
    color: var(--font);
}

.Metronome-Song {
    margin-left: var(--space-m);
}

.Metronome-Radio {
    width: 100%;
}
