.Metronome {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    color: var(--font);
}

.Metronome-Info {
    display: flex;
    align-items: center;
    color: var(--font);
}

.Metronome-Song {
    margin-left: var(--space-m);
}

.Metronome-Radio {
    width: 100%;
}

.Metronome-Visualizer {
    display: flex;
    gap: var(--space-m);
}

.Metronome-Tick {
    height: 32px;
    flex: 1;
    background: var(--color-test-1);
    border-radius: var(--round-s);
}

.Metronome-Tick_active {
    background: var(--color-test-5);
}

/* .Metronome-Tick_active:first-child {
    transform: scale(1.25);
    background: var(--color-test-6);
} */
