.Metronome {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.Metronome-Radio {
    width: 100%;
}

.Metronome-Visualizer {
    display: flex;
    gap: var(--space-m);
}

.Metronome-Tick {
    height: 32px;
    flex: 1;
    background: var(--color-test-1);
    border-radius: var(--round-s);
}

.Metronome-Tick_active {
    background: red;
}
