.Popup-Item {
    padding: var(--space-xs) var(--space-s);
    min-width: 100px;
    border-radius: var(--round-s);
    cursor: pointer;
}

.Popup-Item:hover {
    background: var(--background-color);
}
