.Widget {
    height: 100%;
    background: var(--color-level-3);
    background: var(--color-test-2);
    border-radius: var(--round-l);
    border: 1px solid var(--color-test-4);
    position: relative;
}

.Widget-Header {
    padding: var(--space-m);
    display: flex;
    align-items: center;
    height: 32px;
}

.Widget-HeaderAddon {
    margin-left: auto;
}

.Widget-Content {
    padding: 0 var(--space-m) var(--space-m);
}

.Widget-Plug {
    height: 100%;
    border-radius: inherit;
    color: var(--color-test-5);
}

.Widget-PlugTitle {
    color: black;
    margin-top: var(--space-m);
}

.Widget-PlugSubtitle {
    margin-top: var(--space-xs);
}

.Widget_draggable {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.Widget_draggable::after {
    content: '';
    /* background: rgba(0, 0, 0, 0.06); */
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Widget_blurred::after {
    content: '';
    background: rgba(255, 255, 255, 0.6);
    /* background: rgba(0, 0, 0, 0.06); */
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
