.Application-Content {
    flex: auto;
    /* background: var(--color-level-2); */
    background: var(--background-color);
    border-bottom: 1px solid var(--test-2);
    border-top: 1px solid var(--test-2);
}

/* .Application-Content_theme_light {
    background: var(--color-test-1);
}

.Application-Content_theme_dark {
    background: red;
} */