.IconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--space-xs);
    transition: transform 0.3 ease-out;
    transform: scale(1);
    cursor: pointer;
}

.IconButton:hover {
    background: var(--color-test-1);
}

.IconButton_pressed {
    transform: scale(0.9);
    transform-origin: center;
}

.IconButton_size_m {
    width: 40px;
    height: 40px;
}
