.Application-Header {
    display: flex;
    align-items: center;
    /* background: var(--color-level-1); */
    background-color: var(--test-1);
    padding: var(--space-s) var(--space-2-xl);
    color: var(--font);
}

.Application-HeaderAddon {
    margin-left: auto;
    display: inherit;
    align-items: inherit;
    gap: var(--space-xs);
}
