@import '../node_modules/react-grid-layout/css/styles.css';
@import '../node_modules/react-resizable/css/styles.css';

@font-faсe {
    font-family: 'Roboto';
    src: url('/assets/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: black;
    --color-level-1: #7bb0d4;
    --color-level-2: #8ac5ed;
    --color-level-3: #94d5ff;
    --color-black-1: #405b6e;
    --color-black-2: #6895b3;
    --color-primary-high: #a1783d;
    --color-primary-low: #edc48a;
    --round-s: 8px;
    --round-m: 12px;
    --round-l: 16px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: 32px;
    --color-test-1: #f2f2f2;
    --color-test-2: #fff;
    --color-test-3: #f3f1ed;
    --color-test-4: rgb(230, 230, 230);
    --color-test-5: rgb(219, 219, 219);
    --color-test-6: #999;
    --color-test-7: #414656;
}
